/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* CSS reset */
*, *:after, *:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
button{
    cursor: pointer;
    outline: none;
}
input, textarea, select, option{
    outline: none;
}
a{
    text-decoration: none;
    color: unset;
}
li{
    list-style: none;
}
/* ------------ */